# Environnements virtuels
venv/
env/

# Fichiers de configuration locaux
*.env

# Cache Python
__pycache__/
*.py[cod]
*.so

# Données sensibles ou volumineuses
*.pkl
*.csv

# Streamlit
.streamlit/

# Logs et fichiers temporaires
*.log
*.tmp
.DS_Store

# Configuration de l'IDE
.idea/
.vscode/
*.iml
