# Fichiers de modèle et de données
model/*.pkl
model/*.csv

# Fichiers et dossiers générés
__pycache__/
*.pyc

# Configuration de Streamlit
.streamlit/

# Environnement virtuel
env/
venv/
.venv/

# Fichiers de cache
.DS_Store
*.log
*.cache

# Dossier de configuration système
.idea/
.vscode/
